<div class="container">
    <div class="jumbotron py-4">
        <p class="h1 text-center mb-0">Welcome to Validation Form</p>
    </div>

    <div class="alert alert-info" *ngIf="alertMsg.trim().length > 0">
        <span class="h3">{{alertMsg}}</span>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-5">
            <input type="text" placeholder="Enter Name" class="form-control" [(ngModel)]="newEmployee.name">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-5">
            <input type="text" placeholder="Enter Address" class="form-control" [(ngModel)]="newEmployee.salary">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pin Code</label>
        <div class="col-sm-5">
            <input type="text" placeholder="Enter Pin Code" class="form-control" [(ngModel)]="newEmployee.department">
        </div>
    </div>

    <button class="btn btn-secondary mt-3" type="button" (click)="addEmployee()">Save</button>
